<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.user.AuthorityMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.user.entity.Authority">
        <!--@mbg.generated-->
        <!--@Table "SPECTRA"."SYS_AUTHORITY"-->
        <result column="PID"  jdbcType="BIGINT"  property="pid"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        PID,
        NAME,
        CODE,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED,
        VERSION
    </sql>
</mapper>