<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.user.UserMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.user.entity.User">
        <!--@mbg.generated-->
        <!--@Table "SPECTRA"."SYS_USER"-->
        <result column="USERNAME"  jdbcType="VARCHAR"  property="username"/>
        <result column="AVATAR"    jdbcType="VARCHAR"  property="avatar"/>
        <result column="STATUS"    jdbcType="SMALLINT" property="status"/>
        <result column="REAL_NAME" jdbcType="VARCHAR"  property="realName"/>
        <result column="GENDER"    jdbcType="INTEGER"  property="gender"/>
        <result column="BIRTHDAY"  jdbcType="DATE"     property="birthday"/>
        <result column="PHONE"     jdbcType="VARCHAR"  property="phone"/>
        <result column="EMAIL"     jdbcType="VARCHAR"  property="email"/>
        <result column="COUNTRY"   jdbcType="VARCHAR"  property="country"/>
        <result column="CITY"      jdbcType="VARCHAR"  property="city"/>
        <result column="LANGUAGE"  jdbcType="VARCHAR"  property="language"/>
        <result column="TIMEZONE"  jdbcType="VARCHAR"  property="timezone"/>
        <result column="ORGANIZATION_ID"  jdbcType="VARCHAR" property="organizationId"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        USERNAME,
        AVATAR,
        STATUS,
        REAL_NAME,
        GENDER,
        BIRTHDAY,
        PHONE,
        EMAIL,
        COUNTRY,
        CITY,
        LANGUAGE,
        TIMEZONE,
        ORGANIZATION_ID,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED,
        VERSION
    </sql>
</mapper>