<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangxj96.spectra.core.system.mapper.MenuMapper">
    <!-- @formatter:off -->
  <resultMap id="BaseResultMap" type="com.yangxj96.spectra.core.system.javabean.entity.Menu">
    <!--@mbg.generated-->
    <!--@Table "T_SYS_MENU"-->
    <id column="ID"             jdbcType="BIGINT"    property="id" />
    <result column="PID"        jdbcType="BIGINT"    property="pid" />
    <result column="ICON"       jdbcType="VARCHAR"   property="icon" />
    <result column="NAME"       jdbcType="VARCHAR"   property="name" />
    <result column="PATH"       jdbcType="VARCHAR"   property="path" />
    <result column="COMPONENT"  jdbcType="VARCHAR"   property="component" />
    <result column="LAYOUT"     jdbcType="VARCHAR"   property="layout" />
    <result column="SORT"       jdbcType="INTEGER"   property="sort" />
    <result column="CREATED_BY" jdbcType="BIGINT"    property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="BIGINT"    property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="DELETED"    jdbcType="TIMESTAMP" property="deleted" />
  </resultMap>
  <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        NAME,
        PID,
        ICON,
        PATH,
        COMPONENT,
        LAYOUT,
        SORT,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED
    </sql>
</mapper>