<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.notification.mapper.NotificationUserPreferenceMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.notification.javabean.entity.NotificationUserPreferenceEntity">
        <!--@mbg.generated-->
        <!--@Table spectra_notification.ntf_user_preference-->
        <result column="user_id"              property="userId"/>
        <result column="purpose"              property="purpose"/>
        <result column="channel"              property="channel"/>
        <result column="enabled"              property="enabled"/>
        <result column="do_not_disturb"       property="doNotDisturb"/>
        <result column="do_not_disturb_start" property="doNotDisturbStart"/>
        <result column="do_not_disturb_end"   property="doNotDisturbEnd"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id,
        purpose,
        channel,
        enabled,
        do_not_disturb,
        do_not_disturb_start,
        do_not_disturb_end,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
