<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangxj96.spectra.core.auth.mapper.AccountMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap" type="com.yangxj96.spectra.core.auth.javabean.entity.Account">
        <!--@mbg.generated-->
        <!--@Table "t_sys_account"-->
        <id column="id"             jdbcType="BIGINT"    property="id"/>
        <result column="username"   jdbcType="VARCHAR"   property="username"/>
        <result column="password"   jdbcType="VARCHAR"   property="password"/>
        <result column="user_id"    jdbcType="BOOLEAN"   property="userId"/>
        <result column="type"       jdbcType="SMALLINT"  property="type"/>
        <result column="created_by" jdbcType="BIGINT"    property="createdBy"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_by" jdbcType="BIGINT"    property="updatedBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="deleted"    jdbcType="TIMESTAMP" property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        "id",
        "username",
        "password",
        "user_id",
        "type",
        "created_by",
        "created_at",
        "updated_by",
        "updated_at",
        "deleted"
    </sql>
</mapper>