<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangxj96.spectra.core.auth.mapper.AccountMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap" type="com.yangxj96.spectra.core.auth.javabean.entity.Account">
        <!--@mbg.generated-->
        <!--@Table "T_SYS_ACCOUNT"-->
        <id column="ID"             jdbcType="BIGINT"    property="id"/>
        <result column="USERNAME"   jdbcType="VARCHAR"   property="username"/>
        <result column="PASSWORD"   jdbcType="VARCHAR"   property="password"/>
        <result column="USER_ID"    jdbcType="BOOLEAN"   property="userId"/>
        <result column="TYPE"       jdbcType="SMALLINT"  property="type"/>
        <result column="CREATED_BY" jdbcType="BIGINT"    property="createdBy"/>
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="UPDATED_BY" jdbcType="BIGINT"    property="updatedBy"/>
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="DELETED"    jdbcType="TIMESTAMP" property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        USERNAME,
        PASSWORD,
        USER_ID,
        TYPE,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED
    </sql>
</mapper>