<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.auth.mapper.SecurityMapper">
    <select id="getRolesByUserId" resultType="io.github.yangxj96.spectra.core.user.javabean.entity.Role">
        SELECT R.*
        FROM SPECTRA.SYS_ROLE R
        INNER JOIN SPECTRA.SYS_REL_USER_ROLE UR ON R.ID = UR.ROLE_ID
        WHERE UR.USER_ID = #{uid}
        AND UR.DELETED IS NULL
        AND R.DELETED IS NULL;
    </select>

    <select id="getMenusByUserId" resultType="io.github.yangxj96.spectra.core.system.javabean.entity.Menu">
        SELECT DISTINCT M.*
        FROM SPECTRA.SYS_MENU M
                 INNER JOIN SPECTRA.SYS_REL_ROLE_MENU RM ON M.ID = RM.MENU_ID
                 INNER JOIN SPECTRA.SYS_REL_USER_ROLE UR ON RM.ROLE_ID = UR.ROLE_ID
        WHERE UR.USER_ID = #{userId}
          AND M.DELETED IS NULL
          AND RM.DELETED IS NULL
          AND UR.DELETED IS NULL
        ORDER BY M.SORT;
    </select>
</mapper>