<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.system.DepartmentMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.system.entity.Department">
        <!--@mbg.generated-->
        <!--@Table domain_core.sys_organization -->
        <result column="pid"    property="pid"/>
        <result column="name"   property="name"/>
        <result column="code"   property="code"/>
        <result column="type"   property="type"/>
        <result column="path"   property="path"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        pid,
        name,
        code,
        type,
        path,
        remark,
        created_by,
        created_at,
        updated_by,
        updated_at,
        deleted,
        version
    </sql>

    <select id="generatePath" resultType="java.lang.String">
        WITH RECURSIVE org_tree AS (
            -- 1. 起始节点（根节点）
            SELECT id,
                   pid,
                   name,
                   name::TEXT AS path
            FROM ${schema}.sys_organization
            WHERE pid IS NULL

            UNION ALL

            -- 2. 递归子节点
            SELECT o.id,
                   o.pid,
                   o.name,
                   ot.path || '/' || o.name AS path
            FROM ${schema}.sys_organization o
                     JOIN org_tree ot ON o.pid = ot.id)
        SELECT path,id
        FROM org_tree
        WHERE id = #{id};
    </select>
</mapper>