<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.security.secret.mapper.SecretDefinitionMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.security.secret.javabean.entity.SecretDefinitionEntity">
        <!--@mbg.generated-->
        <!--@Table spectra_security.sec_secret_definition-->
        <result column="code"         property="code"/>
        <result column="name"         property="name"/>
        <result column="category"     property="category"/>
        <result column="value_type"   property="valueType"/>
        <result column="owner_module" property="ownerModule"/>
        <result column="description"  property="description"/>
        <result column="mutable"      property="mutable"/>
        <result column="hot_reload"   property="hotReload"/>
        <result column="exportable"   property="exportable"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        code,
        name,
        category,
        value_type,
        owner_module,
        description,
        mutable,
        hot_reload,
        exportable,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
