<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.workflow.mapper.FormVersionMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.workflow.javabean.entity.FormVersion">
        <!--@mbg.generated-->
        <!--@Table spectra_core.wf_form_version-->
        <result column="form_definition_id" property="formDefinitionId"/>
        <result column="form_version"       property="formVersion"/>
        <result column="rule_json"          property="ruleJson"/>
        <result column="options_json"       property="optionsJson"/>
        <result column="form_json"          property="formJson"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        form_definition_id,
        form_version,
        rule_json,
        options_json,
        form_json,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
