<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.asset.mapper.AssetOperationMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.asset.javabean.entity.AssetOperation">
        <!--@mbg.generated-->
        <!--@Table spectra_oa.oa_asset_operation-->
        <result column="asset_id" property="assetId"/>
        <result column="operation_type" property="operationType"/>
        <result column="from_department_id" property="fromDepartmentId"/>
        <result column="to_department_id" property="toDepartmentId"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="to_user_id" property="toUserId"/>
        <result column="from_location" property="fromLocation"/>
        <result column="to_location" property="toLocation"/>
        <result column="operation_date" property="operationDate"/>
        <result column="reason" property="reason"/>
        <result column="maintenance_content" property="maintenanceContent"/>
        <result column="maintenance_cost" property="maintenanceCost"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        asset_id,
        operation_type,
        from_department_id,
        to_department_id,
        from_user_id,
        to_user_id,
        from_location,
        to_location,
        operation_date,
        reason,
        maintenance_content,
        maintenance_cost,
        status,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
