<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.meeting.mapper.MeetingMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.meeting.javabean.entity.Meeting">
        <!--@mbg.generated-->
        <!--@Table spectra_core.oa_meeting-->
        <result column="title"               property="title"/>
        <result column="initiator_id"        property="initiator_id"/>
        <result column="start_time"          property="start_time"/>
        <result column="end_time"            property="end_time"/>
        <result column="location"            property="location"/>
        <result column="content"             property="content"/>
        <result column="status"              property="status"/>
        <result column="process_instance_id" property="processInstanceId"/>
        <result column="approval_status"     property="approvalStatus"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        title,
        initiator_id,
        start_time,
        end_time,
        "location",
        "content",
        status,
        process_instance_id,
        approval_status,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>