<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.mapper.system.ConfiguredMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.javabean.system.entity.Configured">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_config-->
        <result column="key"       property="key"/>
        <result column="value"     property="value"/>
        <result column="type"      property="type"/>
        <result column="dict_code" property="dictCode"/>
        <result column="remarks"   property="remarks"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        key,
        value,
        type,
        dict_code
        remarks,
        created_by,
        created_at,
        updated_by,
        updated_at,
        deleted,
        version
    </sql>
</mapper>