<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.system.DictGroupMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.system.entity.DictGroup">
        <!--@mbg.generated-->
        <!--@Table domain_core.sys_dict_group-->
        <result column="pid"     property="pid"/>
        <result column="name"    property="name"/>
        <result column="code"    property="code"/>
        <result column="state"   property="state"/>
        <result column="remark"  property="remark"/>
        <result column="builtin" property="builtin"/>
        <result column="hide"    property="hide"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        pid,
        name,
        code,
        state,
        remark,
        builtin,
        hide,
        created_by,
        created_at,
        updated_by,
        updated_at,
        deleted,
        version
    </sql>
</mapper>