<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.mapper.auth.AccountMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.javabean.auth.entity.Account">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_account-->
        <result column="user_id"    property="userId"/>
        <result column="type"       property="type"/>
        <result column="login_name" property="loginName"/>
        <result column="password"   property="password"/>
        <result column="phone"      property="phone"/>
        <result column="email"      property="email"/>
        <result column="openid"     property="openId"/>
        <result column="unionid"    property="unionid"/>
        <result column="provider"   property="provider"/>
        <result column="status"     property="status"/>
        <result column="verified"   property="verified"/>
        <result column="expires_at" property="expiresAt"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id,
        type,
        login_name,
        password,
        phone,
        email,
        openid,
        unionid,
        provider,
        status,
        verified,
        expires_at,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>