<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.user.mapper.RoleMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.user.javabean.entity.Role">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_role-->
        <result column="name"    property="name"/>
        <result column="code"    property="code"/>
        <result column="state"   property="state"/>
        <result column="scope"   property="scope"/>
        <result column="builtin" property="builtin"/>
        <result column="remark"  property="remark"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        name,
        code,
        state,
        scope,
        builtin,
        remark,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>