<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.mapper.user.RoleDataScopeMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.javabean.user.entity.RoleDataScope">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_role_data_scope-->
        <result column="role_id"    property="roleId"/>
        <result column="scope_type" property="scopeType"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        role_id, scope_type,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>

    <select id="findByRoleId" resultType="com.devops00.spectra.core.javabean.user.entity.RoleDataScope">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${schema}.sys_role_data_scope
        WHERE role_id = #{roleId}
    </select>
</mapper>