<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.user.mapper.UserMapper">
    <!-- @formatter:off -->
<resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.user.javabean.entity.User">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_user-->
        <result column="employee_no"   property="employeeNo"/>
        <result column="avatar"        property="avatar"/>
        <result column="status"        property="status"/>
        <result column="status_reason" property="statusReason"/>
        <result column="departed_at"   property="departedAt"/>
        <result column="real_name"     property="realName"/>
        <result column="phone"         property="phone"/>
        <result column="email"         property="email"/>
        <result column="language"      property="language"/>
        <result column="timezone"      property="timezone"/>
        <result column="primary_department_id" property="departmentId" typeHandler="com.devops00.spectra.common.mybatis.handler.UUIDTypeHandler"/>
        <result column="security_version" property="securityVersion"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        employee_no,
        avatar,
        status,
        status_reason,
        departed_at,
        real_name,
        phone,
        email,
        "language",
        timezone,
        primary_department_id,
        security_version,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
