<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.user.mapper.UserDataScopeTargetMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.user.javabean.entity.UserDataScopeTarget">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_user_data_scope_target-->
        <result column="user_id"     property="userId"/>
        <result column="target_id"   property="targetId"/>
        <result column="target_type" property="targetType"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, target_id, target_type,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>

    <select id="findByUserId"
            resultType="com.devops00.spectra.core.user.javabean.entity.UserDataScopeTarget">
        SELECT
        <include refid="Base_Column_List"/>
        FROM spectra_core.sys_user_data_scope_target
        WHERE user_id = #{userId}
          AND deleted IS NULL
    </select>

    <delete id="removeByUserId">
        DELETE
        FROM spectra_core.sys_user_data_scope_target
        WHERE user_id = #{userId}
    </delete>
</mapper>
