<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.user.mapper.UserMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.user.javabean.entity.User">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_user-->
        <result column="employee_no"           property="employeeNo"/>
        <result column="avatar"                property="avatar"/>
        <result column="status"                property="status"/>
        <result column="status_reason"         property="statusReason"/>
        <result column="departed_at"           property="departedAt"/>
        <result column="real_name"             property="realName"/>
        <result column="username"              property="username"/>
        <result column="language"              property="language"/>
        <result column="timezone"              property="timezone"/>
        <result column="primary_department_id" property="primaryDepartmentId" typeHandler="com.devops00.spectra.framework.persistence.mybatis.handler.UUIDTypeHandler"/>
        <result column="security_version"      property="securityVersion"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        employee_no,
        avatar,
        status,
        status_reason,
        departed_at,
        real_name,
        username,
        "language",
        timezone,
        primary_department_id,
        security_version,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>

    <select id="selectActiveByIdsForUpdate" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM spectra_core.sys_user
        WHERE deleted IS NULL
          AND id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        ORDER BY id
        FOR UPDATE
    </select>

    <select id="selectDepartmentMemberCandidates" resultType="com.devops00.spectra.core.user.javabean.vo.DepartmentMemberCandidateVO">
        SELECT
            user_record.id,
            user_record.username,
            user_record.real_name,
            user_record.status,
            user_record.primary_department_id = #{departmentId} AS primary_member,
            EXISTS (
                SELECT 1
                FROM spectra_core.sys_user_department_membership AS membership
                WHERE membership.user_id = user_record.id
                  AND membership.department_id = #{departmentId}
                  AND membership.deleted IS NULL
            ) AS associated_member
        FROM spectra_core.sys_user AS user_record
        WHERE user_record.deleted IS NULL
          AND EXISTS (
              SELECT 1
              FROM spectra_core.sys_department AS department
              WHERE department.id = #{departmentId}
                AND department.deleted IS NULL
          )
          AND (
              user_record.primary_department_id = #{departmentId}
              OR EXISTS (
                  SELECT 1
                  FROM spectra_core.sys_user_department_membership AS membership
                  WHERE membership.user_id = user_record.id
                    AND membership.department_id = #{departmentId}
                    AND membership.deleted IS NULL
              )
          )
          <if test="keyword != null and keyword != ''">
              AND (
                  user_record.username ILIKE CONCAT('%', #{keyword}, '%')
                  OR user_record.real_name ILIKE CONCAT('%', #{keyword}, '%')
              )
          </if>
        ORDER BY user_record.real_name, user_record.username, user_record.id
    </select>

    <update id="reassignPrimaryDepartmentsByIds">
        UPDATE spectra_core.sys_user
        SET primary_department_id = #{targetDepartmentId},
            updated_at = CURRENT_TIMESTAMP,
            updated_by = #{operatorId},
            version = version + 1
        WHERE deleted IS NULL
          AND primary_department_id IN
          <foreach collection="sourceDepartmentIds" item="departmentId" open="(" separator="," close=")">
              #{departmentId}
          </foreach>
    </update>

    <update id="reassignPrimaryDepartmentForUsers">
        UPDATE spectra_core.sys_user
        SET primary_department_id = #{targetDepartmentId},
            updated_at = CURRENT_TIMESTAMP,
            updated_by = #{operatorId},
            version = version + 1
        WHERE deleted IS NULL
          AND primary_department_id = #{sourceDepartmentId}
          AND id IN
          <foreach collection="userIds" item="userId" open="(" separator="," close=")">
              #{userId}
          </foreach>
    </update>
</mapper>
