<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2025 Jack Young (杨新杰)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangxj96.spectra.core.mapper.OperationLogMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap" type="com.yangxj96.spectra.core.entity.dto.OperationLog">
        <!--@mbg.generated-->
        <!--@Table db_system.t_operation_log-->
        <id column="id"             jdbcType="BIGINT"    property="id"/>
        <result column="explain"    jdbcType="VARCHAR"   property="explain"/>
        <result column="status"     jdbcType="SMALLINT"  property="status"/>
        <result column="ip"         jdbcType="VARCHAR"   property="ip"/>
        <result column="method"     jdbcType="VARCHAR"   property="method"/>
        <result column="url"        jdbcType="VARCHAR"   property="url"/>
        <result column="args"       jdbcType="VARCHAR"   property="args"/>
        <result column="result"     jdbcType="VARCHAR"   property="result"/>
        <result column="time_cost"  jdbcType="BIGINT"    property="timeCost"/>
        <result column="created_by" jdbcType="BIGINT"    property="createdBy"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_by" jdbcType="BIGINT"    property="updatedBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="deleted"    jdbcType="TIMESTAMP" property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        "explain",
        "status",
        ip,
        "method",
        url,
        args,
        "result",
        time_cost,
        created_by,
        created_at,
        updated_by,
        updated_at,
        deleted
    </sql>

</mapper>