<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.contract.mapper.ContractMilestoneMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.contract.javabean.entity.ContractMilestone">
        <!--@mbg.generated-->
        <!--@Table spectra_oa.oa_contract_milestone-->
        <result column="contract_id" property="contractId"/>
        <result column="name" property="name"/>
        <result column="milestone_type" property="milestoneType"/>
        <result column="due_date" property="dueDate"/>
        <result column="status" property="status"/>
        <result column="assignee_id" property="assigneeId"/>
        <result column="completed_at" property="completedAt"/>
        <result column="reminder_sent_at" property="reminderSentAt"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        contract_id,
        name,
        milestone_type,
        due_date,
        status,
        assignee_id,
        completed_at,
        reminder_sent_at,
        remark,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
