<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.purchase.mapper.PurchaseItemMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.purchase.javabean.entity.PurchaseItem">
        <!--@mbg.generated-->
        <!--@Table spectra_oa.oa_purchase_item-->
        <result column="purchase_id" property="purchaseId"/>
        <result column="department_id" property="departmentId"/>
        <result column="item_type" property="itemType"/>
        <result column="item_name" property="itemName"/>
        <result column="specification" property="specification"/>
        <result column="quantity" property="quantity"/>
        <result column="estimated_unit_price" property="estimatedUnitPrice"/>
        <result column="estimated_amount" property="estimatedAmount"/>
        <result column="purpose" property="purpose"/>
        <result column="received_quantity" property="receivedQuantity"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        purchase_id,
        department_id,
        item_type,
        item_name,
        specification,
        quantity,
        estimated_unit_price,
        estimated_amount,
        purpose,
        received_quantity,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
