<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.common.FileChunkMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.common.entity.FileChunk">
        <!--@mbg.generated-->
        <!--@Table spectra.sys_file_chunk-->
        <result column="file_id"      property="fileId"/>
        <result column="total_chunks" property="totalChunks"/>
        <result column="chunk_index"  property="chunkIndex"/>
        <result column="chunk_path"   property="chunkPath"/>
        <result column="chunk_size"   property="chunkSize"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        file_id,
        chunk_index,
        total_chunks,
        chunk_path,
        chunk_size,
        created_by,
        created_at,
        updated_by,
        updated_at,
        deleted,
        version
    </sql>

    <select id="getByFileId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM spectra.sys_file_chunk
        WHERE file_id = #{hash}
    </select>
</mapper>