<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.common.FileInfoMapper">

    <!-- @formatter:off -->
    <resultMap id="BaseResultMap" type="io.github.yangxj96.spectra.core.javabean.common.entity.FileInfo">
        <!--@mbg.generated-->
        <!--@Table "SPECTRA"."SYS_FILE_INFO"-->
        <id column="ID"               jdbcType="BIGINT"    property="id"/>
        <result column="CREATED_BY"   jdbcType="BIGINT"    property="createdBy"/>
        <result column="UPDATED_BY"   jdbcType="BIGINT"    property="updatedBy"/>
        <result column="CREATED_AT"   jdbcType="TIMESTAMP_WITH_TIMEZONE" property="createdAt"/>
        <result column="UPDATED_AT"   jdbcType="TIMESTAMP_WITH_TIMEZONE" property="updatedAt"/>
        <result column="DELETED"      jdbcType="TIMESTAMP_WITH_TIMEZONE" property="deleted"/>
        <result column="VERSION"      jdbcType="BIGINT"    property="version"/>
        <result column="FILE_NAME"    jdbcType="VARCHAR"   property="fileName"/>
        <result column="ORIGIN_NAME"  jdbcType="VARCHAR"   property="originName"/>
        <result column="SUFFIX"       jdbcType="VARCHAR"   property="suffix"/>
        <result column="PATH"         jdbcType="VARCHAR"   property="path"/>
        <result column="SIZE"         jdbcType="BIGINT"    property="size"/>
        <result column="HASH"         jdbcType="VARCHAR"   property="hash"/>
        <result column="STORAGE_TYPE" jdbcType="SMALLINT"  property="storageType"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        FILE_NAME,
        ORIGIN_NAME,
        SUFFIX,
        PATH,
        "SIZE",
        HASH,
        STORAGE_TYPE,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED,
        VERSION
    </sql>

    <select id="getByHash" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM SPECTRA.SYS_FILE_INFO WHERE HASH = #{hash}
    </select>
</mapper>