<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.system.mapper.DepartmentMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.system.javabean.entity.Department">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_department -->
        <result column="pid"       property="pid"/>
        <result column="name"      property="name"/>
        <result column="code"      property="code"/>
        <result column="type"      property="type"/>
        <result column="region_id" property="regionId"/>
        <result column="path"      property="path"/>
        <result column="sort"      property="sort"/>
        <result column="remark"    property="remark"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pid,
        name,
        code,
        type,
        region_id,
        path,
        sort,
        remark,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>

    <select id="generatePath" resultType="java.lang.String">
        WITH RECURSIVE org_tree AS (
            -- 1. 起始节点（根节点）
            SELECT id,
                   pid,
                   name,
                   name::TEXT AS path
            FROM spectra_core.sys_department
            WHERE pid IS NULL

            UNION ALL

            -- 2. 递归子节点
            SELECT o.id,
                   o.pid,
                   o.name,
                   ot.path || '/' || o.name AS path
            FROM spectra_core.sys_department o
                     JOIN org_tree ot ON o.pid = ot.id)
        SELECT path, id
        FROM org_tree
        WHERE id = #{id};
    </select>
</mapper>