<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.system.mapper.MenuMapper">
    <!-- @formatter:off -->
  <resultMap id="BaseResultMap"
             extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
             type="com.devops00.spectra.core.system.javabean.entity.Menu">
      <!--@mbg.generated-->
      <!--@Table spectra_core.sys_menu-->
      <result column="pid"       property="pid" />
      <result column="icon"      property="icon" />
      <result column="name"      property="name" />
      <result column="path"      property="path" />
      <result column="component" property="component" />
      <result column="layout"    property="layout" />
      <result column="sort"      property="sort" />
      <result column="hide"      property="hide" />
      <result column="metadata"  property="metadata" typeHandler="com.baomidou.mybatisplus.extension.handlers.Jackson3TypeHandler"/>
  </resultMap>
  <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        name,
        pid,
        icon,
        path,
        component,
        layout,
        sort,
        hide,
        metadata,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>