<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.core.mapper.system.OperationLogMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.core.javabean.system.entity.OperationLog">
        <!--@mbg.generated-->
        <!--@Table spectra_core.sys_log-->
        <result column="type"      property="type"/>
        <result column="explain"   property="explain"/>
        <result column="status"    property="status"/>
        <result column="ip"        property="ip"/>
        <result column="method"    property="method"/>
        <result column="url"       property="url"/>
        <result column="args"      property="args" typeHandler="com.devops00.spectra.common.mybatis.PgJsonbTypeHandler"/>
        <result column="result"    property="result" typeHandler="com.devops00.spectra.common.mybatis.PgJsonbTypeHandler"/>
        <result column="time_cost" property="timeCost"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        TYPE,
        EXPLAIN,
        status,
        ip,
        METHOD,
        url,
        args,
        result,
        time_cost,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>