<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.notice.mapper.NoticeMapper">
    <!-- @formatter:off -->
<resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.notice.javabean.entity.Notice">
        <!--@mbg.generated-->
        <!--@Table spectra_oa.oa_notice-->
        <result column="department_id"        property="departmentId"/>
        <result column="title"                property="title"/>
        <result column="summary"              property="summary"/>
        <result column="content"              property="content"/>
        <result column="status"               property="status"/>
        <result column="target_type"          property="targetType"/>
        <result column="target_department_id" property="targetDepartmentId"/>
        <result column="publisher_id"         property="publisherId"/>
        <result column="publish_at"           property="publishAt"/>
        <result column="required_read"        property="requiredRead"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        department_id,
        title,
        summary,
        content,
        status,
        target_type,
        target_department_id,
        publisher_id,
        publish_at,
        required_read,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
