<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.oa.reimbursement.mapper.ReimbursementMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="com.devops00.spectra.common.base.BaseMapper.BaseAuditMap"
               type="com.devops00.spectra.oa.reimbursement.javabean.entity.Reimbursement">
        <!--@mbg.generated-->
        <!--@Table spectra_oa.oa_reimbursement-->
        <result column="application_id" property="applicationId"/>
        <result column="department_id" property="departmentId"/>
        <result column="purpose" property="purpose"/>
        <result column="expense_start" property="expenseStart"/>
        <result column="expense_end" property="expenseEnd"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="currency" property="currency"/>
        <result column="payee_name" property="payeeName"/>
        <result column="payee_account" property="payeeAccount"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="payment_at" property="paymentAt"/>
        <result column="payment_remark" property="paymentRemark"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        application_id,
        department_id,
        purpose,
        expense_start,
        expense_end,
        total_amount,
        currency,
        payee_name,
        payee_account,
        payment_status,
        payment_at,
        payment_remark,
        <include refid="com.devops00.spectra.common.base.BaseMapper.BaseAuditColumns"/>
    </sql>
</mapper>
