<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2018-2026 yangxj96
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops00.spectra.common.base.BaseMapper">
    <!-- @formatter:off -->
<resultMap id="BaseAuditMap" type="com.devops00.spectra.common.base.BaseEntity">
        <id     column="id"         property="id" typeHandler="com.devops00.spectra.common.mybatis.handler.UUIDTypeHandler"/>
        <result column="created_by" property="createdBy" typeHandler="com.devops00.spectra.common.mybatis.handler.UUIDTypeHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_by" property="updatedBy" typeHandler="com.devops00.spectra.common.mybatis.handler.UUIDTypeHandler"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="version"    property="version"/>
        <result column="deleted"    property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="BaseAuditColumns">
        id,
        created_by,
        created_at,
        updated_by,
        updated_at,
        "version",
        deleted
    </sql>
</mapper>
