<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.common.base.BaseMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseAuditMap" type="io.github.yangxj96.spectra.common.base.BaseEntity">
        <id column="id"             property="id"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="version"    property="version"/>
        <result column="deleted"    property="deleted"/>
    </resultMap>
    <!-- @formatter:on -->
</mapper>
