<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.yangxj96.spectra.core.mapper.auth.AccountMapper">
    <!-- @formatter:off -->
    <resultMap id="BaseResultMap"
               extends="io.github.yangxj96.spectra.common.base.BaseMapper.BaseAuditMap"
               type="io.github.yangxj96.spectra.core.javabean.auth.entity.Account">
        <!--@mbg.generated-->
        <!--@Table "SPECTRA"."SYS_ACCOUNT"-->
        <result column="USER_ID"    jdbcType="BIGINT"  property="userId"/>
        <result column="TYPE"       jdbcType="INTEGER" property="type"/>
        <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName"/>
        <result column="PASSWORD"   jdbcType="VARCHAR" property="password"/>
        <result column="PHONE"      jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL"      jdbcType="VARCHAR" property="email"/>
        <result column="OPENID"     jdbcType="VARCHAR" property="openId"/>
        <result column="UNIONID"    jdbcType="VARCHAR" property="unionid"/>
        <result column="PROVIDER"   jdbcType="VARCHAR" property="provider"/>
        <result column="STATUS"     jdbcType="BOOLEAN" property="status"/>
        <result column="VERIFIED"   jdbcType="BOOLEAN" property="verified"/>
        <result column="EXPIRES_AT" jdbcType="TIMESTAMP_WITH_TIMEZONE" property="expiresAt"/>
    </resultMap>
    <!-- @formatter:on -->

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID,
        USER_ID,
        TYPE,
        LOGIN_NAME,
        PASSWORD,
        PHONE,
        EMAIL,
        OPENID,
        UNIONID,
        PROVIDER,
        STATUS,
        VERIFIED,
        EXPIRES_AT,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED,
        VERSION
    </sql>


</mapper>